<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingslimes</title>
    <link rel="shortcut icon" href="<%= locals.favicon %>" type="image/x-icon">
    <link rel="manifest" href="<%= locals.manifest %>">
</head>
<body>
    <section>
        <div class="container">
            <div class="box">
                <h1>Web comics</h1>
                <p>Upload your content for free. no space limitation</p>
                <div class="btn">
                    <button onclick="window.location.href=<%- flash.login ? flash.homePath : '/register' %>"><%- flash.login ? "Home" : "Register" %></button>
                    <button onclick="window.location.href=<%- flash.login ? flash.dashboard : '/login' %>"><%- flash.login ? "Dashboard" : "Login" %></button>
                </div>
            </div>
        </div>
    </section>
    
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0
}
section {
    background-image: url(/images/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.container {
    color: white;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: auto;
    width: 100%;
}
.container h1 {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
}
.container p {
    font-size: 11pt;
    max-width: 220px;
}
.btn button {
  font-size: 1rem;
  padding: .5rem .8rem;
  border: none;
  background: black;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
  transition: background 300ms;
  font-family: 'Poppins', sans-serif;
}
.btn button:hover {
  background: white;
  color: black;
}
</style>
</body>
</html>
